@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-darkBackground: #14140F;    /* Black */
        --color-lightBackground: #FFFFFF;   /* White */
        --color-accent: #F26800;            /* Orange */
    }

    body {
        font-family: "Inter", sans-serif;
    }

    * {
        -ms-overflow-style: none;   /* Internet Explorer & Edge */
        scrollbar-width: none;      /* Firefox */
    }

    *::-webkit-scrollbar {
        display: none;              /* Chrome, Safari, Opera */
    }
}

.input-box {
    @apply w-full bg-transparent border-[1px] border-accent rounded-md focus:border-b-[1px] focus:outline-none
    px-2 py-3 text-lightBackground transition-colors duration-500;
}

.input-label {
    @apply text-lightBackground font-extralight text-sm transition-all duration-500 pointer-events-none;
}

.signup-button, .login-button {
    @apply w-3/4 py-3 mt-10 text-xl font-normal text-accent border-accent border-[1px] rounded-md
    transition duration-500 hover:bg-accent hover:text-darkBackground;
}

.back-button {
    @apply w-1/4 py-3 mt-10 text-xl font-normal text-lightBackground rounded-md transition duration-500
    hover:bg-lightBackground hover:text-darkBackground;
}